* {
    box-sizing: border-box;
    margin: 0px 0px;
}

body {
    background-color: bisque;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.game-wrapper {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

aside.scoreboard {
    margin: auto 0;
    font-size: 1.1rem;
}

.score-counter {
    display: block;
    padding: 60px;
    font-size: 2rem;
}

.message-text {
    margin: 20px auto;
    display: block;
    max-width: 50%;
    text-align: center;
    color: black;
}

header {
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    overflow: hidden;
}

.board div {
    height: 100px;
    width: 100px;
    outline: 1px solid;

}

.tileO {
    background-image: url(images/o.png);
    background-size: cover;
}

.tileX {
    background-image: url(images/x.png);
    background-size: cover;    
}

.buttons-div {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

button {
    font-family: "Special Elite", system-ui;
    padding: 10px;
    background-color: black;
}

.trivia-btn {
    color: blue;
}

.new-round-btn {
    color: green;
}

.reset-btn {
    color: red;
}

.trivia-paragraph {
    line-height: 1.5;
    margin: 20px auto;
    display: block;
    max-width: 50%;
}